.header {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  text-align: center;
}

.header__title {
  text-decoration: underline;
  line-height: 1;
}

.header__desc {
  font-weight: 500;
}

.main {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 1.4em;
  overflow-y: hidden;
}

.shopping-list {
  border-radius: 14px;
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  padding: 1em;
  height: 100%;
  max-height: 100%;
  border: 1px solid rgba(70, 70, 70, 0.4);
  box-sizing: border-box;
  overflow-y: hidden;
}

.shopping-list__header {
  display: flex;
  justify-content: space-between;
}

.shopping-list__sort-label {
  display: none;
}

.shopping-list__sort-select {
  appearance: none;
  border: 1px solid rgb(70, 70, 70);
  outline: 0;
  padding: 0.2em 0.4em;
  background-color: transparent;
  border-radius: 6px;
  font-size: 0.9em;
}

.shopping-list__clear {
  color: rgb(180, 20, 20);
  background-color: transparent;
  border: 0;
  font-size: 90%;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.shopping-list__clear-icon {
  width: 1.2em;
  height: 1.2em;
}

.shopping-list__main {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  row-gap: 0.6em;
  overflow-y: auto;
}

.shopping-list__main > * + * {
  padding-top: 0.6em;
  border-top: 1px dashed rgb(180, 180, 180);
}

.shopping-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1em;
}

.shopping-list__item-content {
  flex: 1 1 0%;
  display: flex;
  column-gap: 1.6em;
  align-items: center;
  overflow: hidden;
}

.shopping-list__item-checkbox {
  width: 1.4em;
  height: 1.4em;
}

.shopping-list__item-name {
  flex: 1 1 0%;
  font-size: 1.1em;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.shopping-list__item-name--purchased {
  color: rgba(70, 70, 70, 0.8);
  text-decoration: line-through solid rgb(0, 0, 0) 2.4px;
}

.shopping-list__item-delete {
  border: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.shopping-list__item-delete-icon {
  width: 1.8em;
  height: 1.8em;
}

.shopping-list__item-delete-icon--red {
  color: rgb(180, 20, 20);
}

.shopping-list__footer {
  border-top: 1px solid rgb(180, 180, 180);
  padding-top: 1em;
  text-align: center;
}

.shopping-list__footer--hide {
  display: none;
}

.shopping-list__empty {
  flex: 1 1 0%;
  text-align: center;
  place-content: center;
}

.shopping-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  border-radius: 14px;
  border: 1px solid rgba(70, 70, 70, 0.4);
  box-sizing: border-box;
  padding: 1em;
}

.shopping-form__title {
  text-align: center;
  font-weight: 500;
}

.shopping-form__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.6em;
}

.shopping-form__form-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}

.shopping-form__label {
  color: rgb(54, 54, 54);
}

.shopping-form__input {
  width: 100%;
  border: 1px solid rgb(180, 180, 180);
  outline: 0;
  padding: 0.6em 0.8em;
  font-size: 90%;
  border-radius: 8px;
  box-sizing: border-box;
}

.shopping-form__submit {
  border: 0;
  padding: 0.8em 0;
  border-radius: 10px;
  color: rgb(240, 255, 255);
  background-color: rgb(23, 23, 23);
  margin-top: 1em;
  font-size: 90%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1em;
  }

  .shopping-list__sort {
    display: flex;
    column-gap: 0.4em;
  }

  .shopping-list__sort-label {
    display: block;
  }
}
