* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(23, 23, 23);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

.container {
  height: 100%;
  padding: 2em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 50em;
    padding: 2em 0;
  }
}
